{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"semi": false,
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		},
		{
			"files": ["README.md"],
			"options": {
				"useTabs": false,
				"tabWidth": 4
			}
		}
	]
}
